<button ng-click="submitRequest()"> Send request to CSW catalogue</button>
<table>
  <tr>
    <th>
      URL
    </th>
    <td>
      {{responseObject.url}}
    </td>
  </tr>
  <tr>
    <th>
      Headers
    </th>
    <td>
      {{responseObject.headers}}
    </td>
  </tr>
  <tr>
    <th>
      xml data
    </th>
    <td>
      {{responseObject.xml}}
    </td>
  </tr>
  <tr>
    <th>
      response
    </th>
    <td>
      {{responseObject.response}}
    </td>
  </tr>
</table>

check console for full details
